extends layouts/main-layout.pug

block headerButton 
  button#markNotificationAsRead
    i.far.fa-check-double
block content
  .resultsContainer

block scripts 
  script(src="/js/notificationsPage.js") 